# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: 5xx.engineer
email: collin@5xx.engineer
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://5xx.engineer" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: collintraxx
github_username:  collinvandyck

# Build settings
theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed
  - jekyll-target-blank

sass:
  quiet_deps: true

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/


# minimal mistakes config
minimal_mistakes_skin    : "dark" # "default" "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
name: "Collin"
description: "A blog about myself"
repository: collinvandyck/blog

author:
  name             : "Collin"
  avatar           : "/assets/images/bio-photo.jpg"
  bio              : "I like computers"
  email            : "collin@5xx.engineer"
  links:
    - label: "Spider Town"
      icon: "fas fa-fw fa-location-dot"
      url: "https://www.google.com/maps/place/Durham,+NC/@36.0017986,-78.9674822,12z/data=!3m1!4b1!4m6!3m5!1s0x89ace471120f66f1:0xe17ada898a46f27e!8m2!3d35.9940329!4d-78.898619!16zL20vMDEzaHh2?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoJLDEwMjExMjMzSAFQAw%3D%3D"
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://5xx.engineer"
    - label: "Resume"
      icon: "fas fa-fw fa-link"
      url: "https://resume.5xx.engineer"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/collinvandyck"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/collin-van-dyck-461250131/"


defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      show_date: true
      read_time: true
      comments: true
      author_profile: true
      share: false
      related: false

pagination:
  enabled: true
  collection: 'posts'
  per_page: 5
  permalink: '/page/:num/'  # Pages are index.html inside this folder (default)
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  trail:
    before: 2
    after: 2

enable_copy_code_button: true
search: true

